*
{
	box-sizing: border-box;
}

a{
	display: inline-block;
	text-decoration: none;
}

p{
	color: black;
}

body{
	font-family: "Roboto";
	font-size: 13px;
}

header
{
	padding: 15px 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: white;
	width: 100%;

}

header .container
{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

	

.seccion{
	padding-top: 60px;
	padding-bottom: 60px;
}

.cuadrado-perfecto{
	width: 100%;
	padding-bottom: 100%;
	position: relative;
}

.cuadrado-perfecto img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}


header .container .logo{
	width: 70px;
	height: 70px;

}

header .container nav a
{
 color: rgb(87, 185, 172);
 text-decoration: none;
 margin: 0 15px;
}

header .container .hamb
{
    display:none;
    position: relative;
}

.container
{
	width: 1140px;
	margin: 0 auto 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.container-fluid{
	width: 100%;	
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

#initial{	
	position: relative;
}



#initial img{
	width: 60%;
	height: 60%;
	display: block;
	margin-left:260px;
}

#initial button{
	margin-top: 5px;
	border-radius: 5px;
	background-color: lightgray;	
	padding-left: 15px;
	padding-right: 15px;
	margin-left:600px;
}

#initial .paragraph{
	display: none;
}


#initial p{
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;	
	width: 800px;
	margin-left:260px;
}

#services .service-block button{
	margin-top: 5px;
	border-radius: 5px;
	background-color: lightgray;	
	padding-left: 15px;
	padding-right: 15px;

}

#services .paragraph2{
	display: none;
}

#services .paragraph3{
	display: none;
}

#services .paragraph4{
	display: none;
}

#services .paragraph5{
	display: none;
}

#services .paragraph6{
	display: none;
}

#services .paragraph7{
	display: none;
}

#services .paragraph8{
	display: none;
}



.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.columna{
	padding-right: 15px;
	padding-left: 15px;
}

.columna-25{
	width: 25%;
}
.columna-33{
	width: 33.33%;
}

.columna-41{
	width: 41.66%;
}

.columna-50{
	width: 50%;
}

.empujar-50{
	margin-left: 50%;
}

.empujar-58{
	margin-left: 58.33%;
}

.empujar-0{
	margin-left: 0%;
}

#services .service-block{
	border: 1px solid grey;
}


#services .service-block .bloque-img-servicio img{
	width: 100%;
}

#services .service-block .bloque-img-servicio.cuadrado-perfecto{
	padding-bottom: 56.25%;
}

#services .service-block .bloque-contenido-servicio{
	padding: 15px;
}

#services .service-block .bloque-contenido-servicio h3{
	margin-top: 0;
	font-size: 25px;
}


@media(max-width: 767px){

	body{
		font-size: 15px;
	}
	
    header .container nav{
    	position: fixed;
    	width: 100%;
    	height: 100%;
    	background-color: white;
    	padding-top: 80px;
    	padding-bottom: 80px;
    	padding-right: 15px;
    	padding-left: 15px;
    	top:0;
    	left: 0;
    	display: flex;
    	flex-direction: column;
    	transition: all 0.4s ease;
    	transform: translateX(100%);
    }
    header .container nav.open{
    	transform: translateX(0%);	
    }

    header .container nav a{
    	font-size: 30px;
    	margin: 15px 0;
    	
    }

    
    .columna-mobile-100{
    	width: 100%;
    }


     .columna-mobile-50{
    	width: 50%;
    }

}


    



















































